.search-input__box {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px 20px;
    width: 75vw;
    max-width: 560px;
    border: 1px solid lightgray;
    border-radius: 999px;
    /* margin: 0 auto; */
    margin-top: 40px;
}

.search-input__box > input {
    flex: 1;
    font-size: medium;
    border: none;
    padding: 10px 20px;
}

.search-input__box > input:focus {
    outline-width: 0;
}

.search-input__icon {
    color: gray;
}

.search-input__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-input__buttons button {
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
}

.search-input__buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search-input__button--hidden {
    display: none !important;
}