.search-page__header {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 30px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search-page__logo {
    height: 50px;
    object-fit: contain;
    margin-right: 50px;
}

.search-page__header-body > .search-input > .search-input__box {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.search-page__options {
    display: flex;
    align-items: center;
    color: gray;
}

.search-page__options-left,
.search-page__options-right {
    display: flex;
}

.search-page__options-left a,
.search-page__options-right a {
    text-decoration: none;
    color: gray;
}

.search-page__options-right {
    margin-left: 80px;
}

.search-page__option {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.search-page__option a {
    margin-left: 5px;
}

.search-page__body {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.search-page__result-count {
    color: #70757a;
    font-size: 14px;
}

.search-page__result {
    margin: 40px 0;
}

.search-page__result-title {
    text-decoration: none;
}

.search-page__result-title > h3 {
    font-weight: normal;
    font-size: 20px;
}

.search-page__result-title:hover {
    text-decoration: underline;
}

.search-page__result-snippet {
    margin-top: 10px;
}

.search-page__result-img {
    object-fit: contain;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.search-page__result-link {
    font-size: 14px;
    color: #202124;
    font-style: normal;
    text-decoration: none;
}

